$yellow: #ffff00;
$yellow_bat: #f8f184;
$blue: #19587d;
$red: #b11313;
$black_bat: #0d0e09;
$gray: #c4c4c4;
$gray_bat: #bcbbbd;
$black: #000000;
$white: #ffffff;
$transparent: #eddebf;
$chestnut: #890008;
$orange: #e7a730;