@font-face {
    font-family: "Rajdhani";
    src: url("../../Assets/Polices/rajdhani-medium.ttf") format("truetype");
}

@font-face {
    font-family: "Space Grotesk Regular";
    src: url("../../Assets/Polices/space-grotesk-regular.otf") format("opentype");
}

@font-face {
    font-family: "Space Grotesk Bold";
    src: url("../../Assets/Polices/space-grotesk-bold.otf") format("opentype");
}